# Virtual environments
.venv/
venv/

# IDE / Jupyter
.idea/
.ipynb_checkpoints/
__pycache__/
*.pyc

# macOS
.DS_Store

# OpenMC outputs
*.h5
statepoint.*
summary.h5
tallies.out
*.vtk

# SLURM / cluster outputs
*.out
*.err
slurm-*

# Scratch / misc
*.log
*.tmp
*.rst
*.chk

# Tests
test/
