.venv/
venv/
.idea/
.ipynb_checkpoints/
__pycache__/
test/
OpenMC/
*.pyc
*.ppm
*.w
*.r
**.DS_Store
*rssa
.gitattributes
Jupyter/BISO_combined/statepoint.10.h5
Jupyter/BISO_combined/summary.h5
Jupyter/BISO_combined/tallies.out
**/model.xml
