.venv/
venv/
.idea/
.ipynb_checkpoints/
__pycache__/
test/
**/scratch.py
*.pyc
*.ppm
*.w
*.r
**.DS_Store
*rssa
~$*
runtp*
.gitattributes
Jupyter/BISO_combined/statepoint.10.h5
Jupyter/BISO_combined/summary.h5
Jupyter/BISO_combined/tallies.out
