<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>100000</particles>
  <batches>100</batches>
  <inactive>5</inactive>
  <generations_per_batch>10</generations_per_batch>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="point">
      <parameters>0 0 0</parameters>
    </space>
    <angle type="isotropic"/>
    <energy type="discrete">
      <parameters>14070000.0 1.0</parameters>
    </energy>
  </source>
</settings>
