<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <volume_calc>
    <domain_type>cell</domain_type>
    <domain_ids>40 11 21 31 22 32 23 98 97</domain_ids>
    <samples>10000000000</samples>
    <lower_left>-1097.64 -1097.64 -532.4879999999999</lower_left>
    <upper_right>1097.64 1097.64 532.4879999999999</upper_right>
  </volume_calc>
</settings>
